<% if current_user %> 
<div class="span4 well pull-right margins">
  <h4> Today's tour: </h4>
    <% if @events.length > 1 %>
      <table class="table table-condensed">
      <thead><th>From</th><th>To</th><th>Dist</th><th>Duration</th></thead>
      <tbody>
      <% (0..@events.length-1).each do |i| %>
        <tr>
        <td><%= @events[i].location %></td>
        <td><%= @events[(i+1) % @events.length].location %>
        <td><%= @distances[i][:dist] %></td>
        <td><%= @distances[i][:dur] %></td>
        </tr>
      <% end %>
      </tbody>
      </table>
    <% elsif @events.length > 0 %>
    <p> You have only one event scheduled for today. To compute travel times, you need at least two events. </p>
    <% else %>
    <p> You have no events scheduled for today. </p>
    <% end %>
</div>
<% end %>